.deals-heading{
    text-align:center;
    font-size:2rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
    color: blue
}
.deals-text{
    text-align:center;
    
    color: grey;
    font-size:1rem;
}
.mto{
    margin-top:2rem;
}
.type{
    color:#f51616;
}
.deals-line{
    width: 50%;
    border-top: 1rem dotted #177eb6;
    background-color: transparent;
    margin-bottom: 2rem;
}
.triangle-path{
    clip-path: polygon(48% 33%, 0 0, 100% 0);
    background-color: blanchedalmond;
    position: absolute;
    z-index: 55;
    padding: 1.5rem;
    margin-left:10rem;
}
.deal-row:hover img{
    transform: scale(1.2);
}
.deal-txt{
    text-align: center;
    font-weight: bold;
    font-size:1.5rem;
    padding-top: 1.8rem;
}
.deal-row{
    margin-bottom: 0;
}
.normaal{
    font-weight: normal;
    font-size: 1.3rem;
}
.fare{
    text-align: center;
    font-size: 1.1rem;
}
.price{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.buttoon{
    text-align: center;
}
.booknow{
    padding: .5rem 1rem;
    color: white;
    background-color: #f51616;
    text-align: center;
    border-radius: 2rem;
}
.booknow:hover{
    color:#f51616;
    background-color: white;
    border-radius: 1px solid #f51616;
}
.bgcolor{
    background-color: rgb(233, 232, 232);
}
.deal-row:hover .bgcolor{
    background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #a83279b9, #d38212bb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #a83279c7, #d38212c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media only screen and (min-width: 769px){
    .deals-heading{
        text-align:center;
        font-size:3rem;
        margin-top:0.5rem;
        margin-bottom:1rem;
        
    }
    .deals-text{
        text-align:center;
        font-size:1.6rem;
    }
    .deals-line{
        width: 50%;
        border-top: 1rem dotted #177eb6;
        background-color: transparent;
        margin-bottom: 2rem;
    }
    .triangle-path{
        clip-path: polygon(48% 33%, 0 0, 100% 0);
        background-color: blanchedalmond;
        position: absolute;
        z-index: 55;
        padding: 1.5rem;
        margin-left:10rem;
    }
    .deal-row:hover img{
        transform: scale(1.5);
    }
    .deal-txt{
        text-align: center;
        font-weight: bold;
        font-size:2.5rem;
        padding-top: 1.8rem;
    }
    .normaal{
        font-weight: normal;
        font-size: 1.4rem;
    }
    .mto{
        margin-top:0;
    }
    .fare{
        text-align: center;
        font-size: 1.5rem;
        margin-top:6rem;
    }
    .price{
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
    }
    .booknow{
        padding: .5rem 1rem;
        color: white;
        background-color: #f51616;
        text-align: center;
        font-size: 1.6rem;
        border-radius: 2rem;
    }
       
}

.slideinUp{
    animation: slideinUp;
    animation-duration: 5s;
    animation-delay: 3s;
    -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

.slidein{
    animation: slidein;
    animation-duration: 2s;
    -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

@keyframes slideinUp{
    0%{
        opacity:0;
        transform: translateY(4rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes slidein{
    0%{
        opacity:0;
        transform: translateX(-4rem);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
  }

  .hide{
      opacity:0;
  }

.img{
    width:100%;
}