.flight-select{
    margin-top:20rem !important;
}
.flight__text{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 8rem;
}

.fligh{
    background-color: transparent !important;
    border: none;
}

.flight-opt{
    padding: 1rem 2.4rem;
    font-size: 2rem;
}