.name{
    font-weight: bold;
}
.company{
    width: 40%;
    border:1px solid rgb(243, 235, 235);
}
.company-link{
    font-size: 1.4rem;
    color: black;
    transition: all .5s ease-in-out;
}
.company-link:hover{
    color: crimson !important;
}
.bits-name{
    float:left;
}
.bits-date{
    float: right;
}
.footer{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fb{
    color: #3b5998;
    margin-right:0.5rem;
}
.insta{
    color:#E1306C;
    margin-right:0.5rem;
}
.telegram{
    color:#0088cc;
    margin-right:0.5rem;
}

.bits-name{
    font-size:2rem;
}
.bits-date{
    font-size: 2rem;
}
.bits-name a{
    color:#E1306C !important;
}