.holiday-title{
    color:crimson;
    font-size: 3rem;
}
.holiday-text{
    font-size: 1.8rem;
    padding-left: 1.5rem;
    display: inline-block;
}
.holiday-price{
    font-size: 2rem;
    float:right;
    display: inline-block;
    color: rgb(52, 92, 177);
    padding-right: 2rem;   
}
.book-now{
    float:right;
    padding-right: .4rem;
    margin-top: .5rem;
}
.book-now-btn{
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: crimson;
    color: white;
    border-radius: 2rem;
    transition: all .2s ease-in;
}
.book-now-btn:hover{
    background-color: white;
    color: crimson;
    border:1px solid crimson;
}
.card{
    overflow: hidden;
}
.card img:hover{
    transform: rotateY(180deg);
}