/*
    Mobile First Design Implementation 
*/

.info{
    float:right;
    font-size:1.3rem;
    color:rgb(49, 48, 48);
    margin-top:2rem;
    margin-right:3rem;
}

.logo {
    display: inline-block;
}
.img-logo{
    width: 7rem;
    height:6rem;
    margin-top:.3rem;
}
/**Here**/
.helpline{
    display: none;
}
.call-logo i{
    color:#f51616;
    font-size:2.2rem;
    margin-left:0.5rem;
    transition: all 1s ease;
    cursor:pointer;
}
.call-logo:hover i{
    transform:scale(1.2);
}
/*   Here **/
.call-logo{
    display: none;
}
.number{
    font-weight:bold;
    font-size:2.4rem;
    margin-left:0.5rem;
}
/*    Here  */
.number{
    display: none;
}
.side-call-logo i{
    color:#f51616;
    font-size:2.2rem;
    margin-left:0.5rem;
    transition: all 1s ease;
    cursor:pointer;
}
.side-number{
    font-weight:bold;
    font-size:2.4rem;
    margin-left:0.5rem;
}
.country-map{
    margin-right:0.5rem;
}
/**    Here ***************/
.country-name{
    display: none;
}

.option{
    background-color:#f51616;
    border-radius: 5rem;
    padding:1rem;
    float:right;
    margin-left:2rem;
    margin-top:1.5rem;
    color:white;
    border:none; outline:none;
    margin-right: 2rem;
  }

    .option:focus{
        background-color: #f51616;
    }
  /****  here in desktop css 
  
  */
.person{
    color:white;
    font-size:1.5rem;
}
/* Desktop css 

*/

/** Here ****************************************/
.sign{
    display:none;
}
.lists{
    color:rgb(75, 73, 73);
}
.lists:hover{
    color:#f51616;
    transform: translateX(1rem);
    background-color: transparent;
}
.hei{
    height:2.4rem;
}
.nepal{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}
.mbl-down{
    margin-top: -1.5rem !important;
    margin-right:1rem;
}
/** Desktop media query for logos **/
@media only screen and (min-width: 769px){
    .mbl-down{
        margin-top: .5rem !important;
        margin-right:1rem;
    }
    .container{
        width:85%  !important;
    }
    .hei{
        height:auto;
    }
    .number{
        display: unset;
        margin-right: .5rem;
    }
    .logo{
        padding-bottom: 0.5rem;
    }
    .info{
        font-size:1.6em;
        margin-top:3rem;
        margin-right:3rem;
    }
    .img-logo{
        width: 10rem;
        height:8rem;
    }
    .helpline{
        display: contents;
    }
    .call-logo{
        display: contents;
    }
    .country-name{
        display: contents;
    }
    .option{
        background-color:#f51616;
        border-radius: .8rem;
        padding:1rem;
        float:right;
        margin-left:2rem;
        margin-top:-0.5rem;
        color:white;
        border:none; outline:none;
      }
      .person{
        color:white;
        font-size:2rem;
        margin-left:0.5rem;
        margin-right:0.9rem;
    }
    .sign{
        display: contents;
    }
    .lists{
        font-size: 1.3rem;
    }
    .side-info-mobile{
        display: none;
    }
    .navbar-desk{
        background-color: rgb(228, 225, 225);
    }
    .menu-item{
        font-size: 1.7rem !important;
        color: black;
        transition: all .5s ease-in;
    }
    .menu-item:hover{
        background-color: #f51616;
        color: white;
    }
    
}

/* Mobile menu icon css */
.menu-iccon {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }
  .second{
      margin-left:9px;
      width: 26px;
  }
  .third{
      margin-left:11px;
      width: 24px;
  }

.nav-mains{
    /* background-color:grey; */
    box-shadow: none;
    height: 5.1rem;
    line-height: 5.1rem;
}
nav i {
    height: 5.2rem !important;
    line-height: 4.7rem !important;
}
nav{
    background-color: transparent !important;
}

nav .ham{
    float:right  !important;
    margin-top: -8rem !important;
    color: black !important;
    margin-left: 27rem !important;
}
@media only screen and (min-width:425px){
    nav .ham{
        margin-left:32rem !important;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    nav .ham{margin-left: 60rem !important;}
}

@media only screen and (min-width:1000px) and (max-width:1024px){
    .desmanage{right: 0 !important;}
}

nav .lines:active{
    color: #f51616;
}

.sidemenu-item i{
    font-size: 3rem;
}
.sidemenu-item{
    margin-top:.5rem;
    font-size: 1.9rem !important;
}

.btn-manage{
    border: 1px solid #f51616;
    border-radius:1rem;
    margin-right:8rem;
    margin-left: 1rem;
    transition: all 1s ease-in;
}
.btn-manage:hover{
    background-color: #f51616;
    color: white;
    border-radius:5rem;
}
.btn-manage:hover a{
    color: white;
}
.navbar-fixed-top{
    position: fixed;
    z-index: 332222222;
    top:0;
}

.desmanage{
    border:1px solid #f51616;
    color:black;
    border-radius: 0.5rem;
    line-height: 3rem;
    margin-top: 1rem;
    position: absolute;
    right:5.4rem;
}
.desmanage:hover{
    background-color:#f51616;
    border-radius: 2rem;
}
.active{
    background-color: #f51616 !important;
    color: white !important;
}

