.ourservice{
    background-color: rgb(175, 174, 174);
    padding:3rem;
    opacity: .2;
}
.ourservice-text{
    margin-top:2rem;
    font-size: 3rem;
    text-align: center;
    color: blue;
    margin-bottom: 0.2rem;
}
.servicess{
    color: #f51616;
}
.text-servess{
    text-align: center;
    color: grey;
    font-size: 2rem;
}