.service{
    background-color: rgb(223, 213, 215);
}
.serivce-heading{
    font-size:1.8rem;
    padding-top: 2rem;
    text-align: center;
    color: #f51616;
    margin-bottom: .5rem;
}
.info-serivce{
    font-size: .9rem;
    color: #f51616;
    text-align: center;
    padding: 0;
    margin: 0;
}
.marb{
    width: 20%;
    border-top: 1rem dotted #f51616;
    background-color: transparent;
}
.service-icon{
    border:0.1rem solid #bbb;
    border-radius: 50%;
    padding: 2rem;
    font-size:1.8rem;
    color: grey;
    margin-left:1rem;
}
.service-text{
    margin-top:1rem;
    font-size: 1.1rem;
    color: black;
}
.ico:hover .service-text{
    color:blue;
}
.ico:hover .fas{
    transform: scale(1.2);
    background-color: #fab822;
    color: white;
    border: none;
}
.service{
    margin-top:3rem !important;
}

@media only screen and (min-width: 769px){
    .serivce-heading{
        font-size:3rem;
    }
    .info-serivce{
        font-size: 1.5rem;
    }
    .service-icon{
        font-size:2.8rem;
    }
    .service-text{
        margin-top:1.2rem;
        font-size: 1.5rem;
    }
    .airplane{
        margin-left:5rem;
    }   
    .discount{
        margin-left:5.5rem;
    }
    .mrl-5{
        margin-left:5rem;
    }
    .mrl-4{
        margin-left: 4rem;
    }
}